{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-dark" id="professional-summary">
        {% include 'home/partial/professional-summary.html' with object=professional_summary%}
    </div>
</div>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    {% if messages %}
        {% for message in messages %}
            {% include 'components/toast-template.html' with message=message %}
        {% endfor %}
    {% endif %}
</div>

<!-- Projects -->
<div class="row align-items-md-stretch" id="projects">
    {% include 'game/project-template.html' with project_title='My Projects' projects=my_projects target='my-projects' %}

    {% include 'game/project-template.html' with project_title='Educational Purposed Projects' projects=edu_projects target='edu-projects' %}
</div>

<div id="create-update-game-modal"></div>
<div id="detail-game-modal"></div>

<!-- About me -->
<div class="row featurette" id="about-me">
    {% include 'home/partial/about.html' with object=about %}
</div>

{% endblock content %}