<div class="col-md-7 order-md-2">
    <div class="row">
        <div class='col-md-auto'>
            <h2 class="fw-bold">About me</h2>
        </div>
        {% if request.user.is_authenticated %}
            <div class='col-md-auto'>
                <button class="btn btn-outline-success" 
                hx-get='{{ about.get_hx_edit_url }}'
                hx-target='#about-me'>Edit</button>
            </div>
        {% endif %}
    </div>
    <p class="lead">{{ about.description }}</p>
    
    {% if about.resume_url %}
        <p class="lead">
            <a href="{{ about.resume_url }}" class="btn btn-outline-light" download="">My Resume</a>
            <small>Last updated: {{ about.updated.date }}</small>
        </p>
    {% endif %}
</div>

<div class="col-md-5 order-md-1">
    <img src="{{ about.photo_url }}" alt="me" class="about-me">
</div>