<form action="." method="post" hx-post='{% if url %}{{ url }}{% else %} . {% endif %}' hx-swap='outerHTML'>
    <h2 class="fw-bold">About me</h2>
    {% csrf_token %}

    {% for field in form %}
        <div class='form-floating mb-3'>
            {{ field.errors }}
            {{ field }}
            <label for="{{ field.id_for_label }}" class="text-dark">{{ field.label_tag }}</label>
        </div>
    {% endfor %}

    <button class="btn btn-outline-success" type="submit">Save</button>
    <button class="btn btn-outline-light" type="button"
        hx-get="{{ object.get_hx_read_url }}"
        hx-target="#about-me"
        hx-swap="innerHTML">Cancel</button>
</form>