<form method="post" hx-post='{{ url }}' hx-swap='outerHTML' hx-target='#{{ target }}'>
    {% csrf_token %}

    {% for field in form %}
        <div class="row mb-3">
            <label for="{{ field.id_for_label }}" class="col-sm-2">{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    
    <h2 class="fw-bold">Details</h2>
    {% if game_detail_form %}
        {% for field in game_detail_form %}
            <div class="row mb-3">
                <label for="{{ field.id_for_label }}" class="col-sm-2">{{ field.label_tag }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="row">
        {% if game_carousel_create_url %}
            <div class="col-md-auto">
                <h2 class="fw-bold">Carousels</h2>
            </div>
        
            <div class="col-md-auto">
                <button class="btn btn-outline-light" hx-get="{{ game_carousel_create_url }}"
                    hx-trigger="click" 
                    hx-target="#carousel-create" 
                    hx-swap='beforeend'>Add carousel</button>
            </div>
        {% else %}
            <p>You can add carousels after saving the project</p>
        {% endif %}
    </div>

    {% if game_carousel_create_url %}
        <div id="carousel-list">
            {% include 'game/partial/carousel-list.html' with objects=game.get_game_carousel %}
        </div>
        <div id="carousel-create"></div>
    {% endif %}

    <button type="submit" class="btn btn-outline-success" onclick="closeModal('create-update-game-modal')">Save</button>
    <button type="button" class="btn btn-outline-light" onclick="closeModal('create-update-game-modal')">Cancel</button>
</form>