<form method="post" hx-post='{{ url }}' hx-swap='outerHTML' hx-target='#{{ target }}'>
    {% csrf_token %}

    {% for field in form %}
        <div class="row mb-3">
            <label for="{{ field.id_for_label }}" class="col-sm-2">{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    
    <h2 class="fw-bold">Details</h2>
    {% if game_detail_form %}
        {% for field in game_detail_form %}
            <div class="row mb-3">
                <label for="{{ field.id_for_label }}" class="col-sm-2">{{ field.label_tag }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="row">
        <div class="col-md-auto">
            <h2 class="fw-bold">Carousels</h2>
        </div>

        {% if game_carousel_create_url %}
            <div class="col-md-auto">
                <button class="btn btn-outline-light" hx-get="{{ game_carousel_create_url }}"
                    hx-trigger="click" hx-target="#carousel-create" hx-swap='beforeend'>Add carousel</button>
            </div>
        {% endif %}
    </div>

    {% for carousel in game.get_game_carousel %}
        {% include 'game/partial/carousel-inline.html' with object=carousel %}
    {% endfor %}
    <div id="carousel-create"></div>

    <button type="submit" class="btn btn-outline-success" onclick="closeModal('update-game-modal')">Save</button>
    <button type="button" class="btn btn-outline-light" onclick="closeModal('update-game-modal')">Cancel</button>
</form>