<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" style="display:block;"
    id="{% if game.id %}update-{{ game.slug }}{% else %}create-project{% endif %}" tabindex="-1" 
    aria-labelledby="{% if game.id %}update-{{ game.slug }}{% else %}create-project{% endif %}Label" 
    aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark">

            <div class="modal-header">
                <h1 class="modal-title fw-bold">
                    {% if game.id %}{{ game.title }}{% else %}Create game{% endif %}
                </h1>
                <button type="button" class="btn-close btn-close-white" onclick="closeModal('update-game-modal')" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% include 'game/partial/form.html' %}
            </div>
        </div>
    </div>
</div>