<div class="col-md-6">
    <div class="card shadow-sm">

        <div id="{{ carousel_name }}" class="carousel slide" data-bs-ride="carousel">
            {% for carousel in game_carousels %}
                <div class="carousel-indicators">
                
                    {% if forloop.first %}
                        <button type="button" data-bs-target="#{{ carousel_name }}" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide {{ forloop.counter0 }}"></button>
                    {% else %}
                        <button type="button" data-bs-target="#{{ carousel_name }}" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter0 }}"></button>
                    {% endif %}
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item">
                        <svg class="bd-placeholder-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <img src="{{ carousel.url }}" alt="{{ game.title }}" class="project-img-blur">
                            <img src="{{ carousel.url }}" alt="{{ game.title }}" class="project-img">
                        </svg>
                    </div>
                </div>
            {% endfor %}

            <button class="carousel-control-prev" type="button" data-bs-target="#{{ carousel_name }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#{{ carousel_name }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        <div class="card-body bg-dark text-white">
            <h3 class="fw-bold">{{ game.title }}</h3>

            <!-- Description -->
            <p class="card-text">{{ game.description }}</p>

            <!-- Details -->
            <ul class="list-unstyled mb-4">
                <li><b>Status: </b>{{ game.detail.status }}</li>
                <li><b>Platform: </b>{{ game.detail.platform }}</li>
                <li><b>Genre: </b>{{ game.detail.genre }}</li>
                <li><b>Engine: </b>{{ game.detail.engine }}</li>
                <li><b>Language(s): </b>{{ game.detail.language }}</li>
                <li><b>Team: </b>
                    <ul>
                        <li>Solo project</li>
                    </ul>
                </li>
            </ul>
            
            <!-- Link play -->
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{ game.play_url }}" class="btn btn-outline-light">Play</a>
                </div>
            </div>
        </div>
    </div>
</div>