<div class="col-md-6" id='game-card'>
    <div class="card shadow-sm">
        
        {% comment %} Carousel {% endcomment %}
        {% include 'game/carousel-template.html' with carousel_id=''%}
        
        <div class="card-body bg-dark text-white">
            <h3 class="fw-bold">{{ game.title }}</h3>

            <!-- Description -->
            <p class="card-text">{{ game.description }}</p>
            
            <!-- Buttons -->
            <div class="d-flex align-items-center">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-outline-info" 
                        hx-get='{{ game.get_read_url }}'
                        hx-target='#detail-game-modal' 
                        hx-trigger='click'
                        _="on htmx:afterOnLoad wait 10ms then add .show to #game-detail-modal then add .show to #game-detail-modal-backdrop">
                        Details
                    </button>
                </div>

                <div class="btn-group me-2">
                    <a href="{{ game.play_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-light">Play</a>
                </div>
                
                {% if user.is_authenticated %}
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-outline-success" 
                            hx-get='{{ game.get_update_url }}'
                            hx-target='#create-update-game-modal' 
                            hx-trigger='click'
                            _="on htmx:afterOnLoad wait 10ms then add .show to #create-edit-modal then add .show to #create-edit-modal-backdrop">
                            Update
                        </button>
                    </div>

                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-outline-danger" id="delete-{{ game.slug }}"
                            hx-confirm="Are you sure want to delete {{ game.title }}?"
                            hx-delete="{{ game.get_delete_url }}">
                            Delete
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>