<div id="{{ target }}">
    <div class="row">
        <div class='col-md-auto'>
            <h2 class="text-white fw-bold">{{ project_title }}</h2>
        </div>
        {% if request.user.is_authenticated %}
            <div class='col-md-auto'>
                <form method="post">
                    <input type="hidden" value="{{ target }}" name="project-type">
                    <button type="submit" class="btn btn-outline-light"
                        hx-post="{% url 'game:create' project_type=target %}" 
                        hx-target='#create-update-game-modal'
                        hx-trigger='click'
                        _="on htmx:afterOnLoad wait 10ms then add .show to #create-edit-modal then add .show to #create-edit-modal-backdrop">Add game</button>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="album py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="project">
                {% for project in projects %}
                    {% include 'game/game-card.html' with game=project %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% for project in projects %}
        {% include 'game/detail-modal.html' with game=project %}
    {% endfor %}

    <hr class="featurette-divider">
</div>